{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "GSA DSS API"
	},
	"basePath": "/sandbox/operations/signature",
	"tags": [{
		"name": "Packages"
	}, {
		"name": "PackagesCreateWithDocumentLayout"
	}, {
		"name": "PackagesCreateWithDocumentLayoutMultipart"
	}, {
		"name": "PackagesCreate"
	}, {
		"name": "PackagesCreateWithTemplate"
	}, {
		"name": "PackagesCreateMultiPart"
	}],
	"host": "api.gsa.gov",
	"schemes": ["https"],
	"paths": {
		"/Packages/Create": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS Create Package",
				"description": "This API enables applications to initiate the digital signing process. The API is provisioned as a RESTful service and uses JSON as the data interchange format. You can use the example JSON from here as input body payload: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/console/createPackageExample.json \n \n \n To find more info about the various errors and messages in DSS API's, read: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/createPackageErrors.html",
				"operationId": "dssUniversalConnector",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"format": "string",
					"default": "DEMO_KEY"
				}, {
					"name": "body",
					"in": "body",
					"description": "JSON Data",
					"required": true,
					"type": "string",
					"format": "string"
				}]
			}
		},
		"/Packages/CreateWithDocumentLayout": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from layout",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. You can use the example JSON from here as input body payload: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/console/createPackageDocLayoutExample.json \n \n \n To find more info about the various errors and messages in DSS API's, read: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/createPackageErrors.html",
				"operationId": "dssCreatePackageFromDocLayout",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"in": "body",
					"name": "body",
					"description": "JSON Data",
					"required": true,
					"type": "string"
				}]
			}
		},
		"/Packages/CreateWithTemplate": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from template",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. You can use the example JSON from here as input body payload: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/console/createPackageTemplateExample.json \n \n \n To find more info about the various errors and messages in DSS API's, read: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/createPackageErrors.html",
				"operationId": "dssCreatePackageFromTemplate",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"type": "string",
					"description": "JSON Data"

				}]
			}
		},
		"/Packages/Document": {
			"get": {
				"tags": ["Packages"],
				"summary": "Retrieves a Document from Package",
				"description": "This API enables applications to retrieve the signed documents. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "downloadIndividualDocument",
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"name": "packageId",
					"in": "query",
					"description": "Package ID",
					"required": true,
					"type": "string",
					"default": "Kn4TR2syiAH7v0Aow_Hm6gv4Yc0="

				}, {
					"name": "orgName",
					"in": "query",
					"description": "ORG Name",
					"required": true,
					"type": "string",
					"default": "OFM-STR"

				}, {
					"name": "documentId",
					"in": "query",
					"description": "Document ID",
					"required": true,
					"type": "string",
					"default": "56ffc32868d457d0b265d29134dbef326a4a7b7a51f101ab"

				}]
			}
		},
		"/Packages/Retrieve": {
			"get": {
				"tags": ["Packages"],
				"summary": "Retrieves Package Documents",
				"description": "This API enables applications to retrieve the signed documents. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "downloadDocuments",
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"name": "packageId",
					"in": "query",
					"description": "Package ID",
					"required": true,
					"type": "string",
					"default": "Kn4TR2syiAH7v0Aow_Hm6gv4Yc0="

				}, {
					"name": "orgName",
					"in": "query",
					"description": "Package Org Name",
					"required": true,
					"type": "string",
					"default": "OFM-STR"

				}]
			}
		},
		"/Packages/Status": {
			"post": {
				"tags": ["Packages"],
				"summary": "Get Package Status",
				"description": "This API enables applications to get the status of a given Package. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "dssPackageStatus",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"format": "string",
					"default": "DEMO_KEY"
				}, {
					"name": "body",
					"in": "body",
					"description": "JSON Data",
					"required": true,
					"type": "string",
					"format": "string",
					"default": "{\"packageId\": \"Kn4TR2syiAH7v0Aow_Hm6gv4Yc0%3D\"}"

				}]
			}
		},
			
		"/Packages/signingURL/{packageID}/roleId/{roleId}": {
			"get": {
				"tags": ["Packages"],
				"summary": "Retrieves Signing URL",
				"description": "This API enables applications to retrieve the signing URL for a given package and signer. The API is provisioned as a RESTful service and uses path paramater as the data interchange format.",
				"operationId": "getSignerURLforRoleID",
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"name": "packageId",
					"in": "path",
					"description": "Package ID",
					"required": true,
					"type": "string",
					"default": "EujWOE4buROVebKHEtwjF2lnRWQ="

				}, {
					"name": "roleId",
					"in": "path",
					"description": "Role Id",
					"required": true,
					"type": "string",
					"default": "ContractingOfficer"

				}]
				
			}
		},
		
		"/Packages/CreateMultiPart": {
			"post": {
				"tags": ["Packages"],
				"summary": "Multipart Upload Package creation",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. Document and attachment files can be attached separately and sent as another key value pair.",
				"operationId": "dssUniversalConnectorMultiPart",
				"consumes": ["multipart/form-data"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"in": "formData",
					"name": "document[]",
					"description": "Upload file.",
					"required": true,
					"type": "file"
				}, 
				 {
					"name": "documentDetail[]",
					"in": "formData",
					"description": "File Name",
					"required": true,
					"type": "string",
					"default": "Sample.pdf"

				},{
					"name": "body",
					"in": "formData",
					"description": "JSON Data",
					"required": true,
					"type": "string",
					"format": "string",
					"default": "{\"orgName\": \"IACP\",\"documents\": [{\"document\": {\"signers\": [{\"signerEmail\": \"dss_team@gsa.gov\",\"signerFirstName\": \"firstName\",\"signerLastName\": \"lastName\",\"searchText\": \"LESSOR\",\"signType\": \"ClickToInitial\",\"signaturePosition\": \"TOPRIGHT\"}],\"documentName\": \"TEST-AAAP-Short.PDF\"}}],\"senderEmail\": \"dssteam@gsa.gov\",\"enableSigningOrder\": true,\"packageOption\": \"create\",\"packageName\": \"DSSAPIDocTestSample\"}"
				}],
				"responses": {
					"default": {
						"description": "successful operation"
					}
				}
			}
		},
		"/Packages/CreateWithDocumentLayoutMultipart": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from layout multipart file transfer",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. Document and attachment  files can be attached separately and sent as another key value pair.",
				"operationId": "dssCreatePackageFromDocLayoutMultipart",
				"consumes": ["multipart/form-data"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"in": "formData",
					"name": "document",
					"description": "The file to upload.",
					"required": true,
					"type": "file"	
					
				}, {
					"name": "body",
					"in": "body",
					"description": "JSON Data",
					"required": true,
					"type": "string",
					"format": "string",
					"default": "{\"orgName\": \"IACP\",\"documents\": [{\"document\": {\"signers\": [{\"signerEmail\": \"dss_test@gsa.gov\",\"signerFirstName\": \"firstName\",\"signerLastName\": \"lastName\",\"placeHolderName\": \"ContractingOfficer\"}],\"documentName\": \"TEST-AAAP-Short.PDF\",\"layoutName\": \"Fleet STR SF1449 Layout\"}}],\"senderEmail\": \"dssteam@gsa.gov\",\"enableSigningOrder\": true,\"packageOption\": \"create\",\"packageName\": \"DSSAPIDocSample2\"}"
				}],
				"responses": {
					"default": {
						"description": "successful operation"
					}
				}
			}
		},
	"definitions": {
		"PackageId": {
			"type": "string",
			"properties": {
				"ID": {
					"type": "integer",
					"description": "Generated unique identifier for te package."
				},
				"PackageName": {
					"type": "string",
					"description": "Package name."
				}
			}
		},
		"Error": {
			"type": "object",
			"properties": {
				"message": {
					"type": "string"
				},
				"required_fields": {
					"type": "string"
				},
				"example": {
					"type": "string"
				}
			}
		}
	}
}
}
