{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "GSA DSS API"
	},
	"basePath": "/sandbox/operations/signature",
	"tags": [{
		"name": "Packages"
	}, {
		"name": "PackagesCreateWithDocumentLayout"
	}, {
		"name": "PackagesCreateWithDocumentLayoutMultipart"
	}, {
		"name": "PackagesCreate"
	}, {
		"name": "PackagesCreateWithTemplate"
	}, {
		"name": "PackagesCreateMultiPart"
	}],
	"host": "api.gsa.gov",
	"schemes": ["https"],
	"paths": {
		"/Packages/Create": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS Create Package",
				"description": "This API enables applications to initiate the digital signing process. The API is provisioned as a RESTful service and uses JSON as the data interchange format. You can use the example JSON from here as input body payload: https://gsa.github.io/DSSAPIDocumentation/api-docs/console/createPackageExample.json .",
				"operationId": "dssUniversalConnector",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string",
					"format": "string",
					"default": "DEMO_KEY"
				},{
					"name": "body",
					"in": "body",
					"description": "JSON Data for DSS create package",
					"required": true,
					"type": "string",
					"format": "string"
				}],
				"responses" : "All the Errors and Messages have been listed at: https://gsa.github.io/DSSAPIDocumentation/api-docs/createPackageErrors.html.",
				"responses": {
					"default": {
						"description": "Successful operation"
					},
					"551": {
						"description": "Validation Error. OrgName provided does not match the package org name."
					},
					"552": {
						"description": "Validation Error. Package exist in EDMS."
					},
      
    "553": {"description": "Validation Error. Please enter a valid Pagcake ID and Org Name"
      },
    "404": {"description": "Resource not found..  Please check the URL or the Package ID"
      },
    "500": {
        "description": "System Error. There was a system error. Please contact DSS team."
      },
    
    "401": {
        "description": "Authorization Error. There was a system error. Please contact DSS team."
      },
    "400": {
        "description": "System Error. There was a system error. Please contact DSS team."
      },
    "550": {
        "description": "Validation Error. Organization Name not provided or is empty."
      },
     "540": {
        "description": "Validation Error. Package Name not provided or is empty."
      },
      "541": {
        "description": "Validation Error. Sender email not provided or is empty."
      },
      "542": {
        "description": "Validation Error. Sender email address not provided or is invalid."
      },
      "543": {
        "description": "Validation Error. Package Option not provided or is empty. Valid values are ‘Create’ or ‘CreateSend’."
      },
      "544": {
        "description": "Validation Error. Document Name not provided or is empty."
      },
      "545": {
        "description": "Validation Error. Document Content not provide or is empty. The API accepts Document Content as base64Encoded String."
      },
      "546": {
        "description": "Validation Error. Signer email not provided or is empty."
      },
      "547": {
        "description": "Validation Error. Signer email not provided or is invalid."
      },
      "548": {
        "description": "Validation Error. Signer First Name not provided or is empty."
      },
       "549": {
        "description": "Validation Error. Signer Last Name not provided or is empty."
      },
      "561": {
        "description": "Validation Error. Search text not provided or is empty."
      },
      "562": {
        "description": "Validation Error. Document Name is invalid. The API accepts .pdf documents only."
      },
      "563": {
        "description": "Validation Error. Template Id not provided or is empty."
      },
      "564": {
        "description": "Validation Error. Number of signers provided do not match the number of signature placeholders in the template."
      },
      "565": {
        "description": "Validation Error. Document layout name not provided or is empty."
      },
      "566": {
        "description": "Validation Error. Document layout name provided is incorrect."
      },
      "567": {
        "description": "Validation Error. File could not be decoded."
      },
      "568": {
        "description": "Validation Error. Number of placeholders is more than number of signers."
      },
      "569": {
        "description": "Validation Error. Placeholder name provided does not exists or is invalid."
      },
      "570": {
        "description": "Validation Error. Placeholder name not provided or is empty."
      },
      "571": {
        "description": "Validation Error. Package Option not provided or is empty. Valid values are ‘Archive’ or ‘Delete’."
      },
      "572": {
        "description": "Validation Error. Package Id not provided or is empty."
      },
      "573": {
        "description": "Validation Error. Package name already in use. Please change the package name."
      },
      "574": {
        "description": "Validation Error. New user TYPE not provided or is empty"
      },
       "575": {
        "description": "Validation Error. New User Last Name not provided or is empty."
      },
      "576": {
        "description": "Validation Error. New User First Name not provided or is empty."
      },
      "577": {
        "description": "Validation Error. The specified queue does not exists."
      },
      "578": {
        "description": "Validation Error. The specified queue has no messages."
      }
				}
			}
		},
		"/Packages/CreateMultiPart": {
			"post": {
				"tags": ["Packages"],
				"summary": "Multipart Upload Package creation",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. Document and attachment files can be attached separately and sent as another key value pair.",
				"operationId": "dssUniversalConnectorMultiPart",
				"consumes": ["multipart/form-data"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string"
				},{
					"in": "formData",
					"name": "documents",
					"description": "documents multipart attachment",
					"required": true,
					"schema": {
						"type": "file",
						"items": {
							"$ref": "#/definitions/FormDataContentDisposition"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"description": "documents multipart attachment filedata",
					"required": true,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataContentDisposition"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"description": "Json Body",
					"required": true,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"default": {
						"description": "successful operation"
					}
				}
			}
		},
		"/Packages/CreateWithDocumentLayout": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from layout",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "dssCreatePackageFromDocLayout",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string"
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"default": {
						"description": "successful operation"
					}
				}
			}
		},
		"/Packages/CreateWithDocumentLayoutMultipart": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from layout multipart file transfer",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. Document and attachment  files can be attached separately and sent as another key value pair.",
				"operationId": "dssCreatePackageFromDocLayoutMultipart",
				"consumes": ["multipart/form-data"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string"
				},{
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataBodyPart"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataContentDisposition"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataBodyPart"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataContentDisposition"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"default": {
						"description": "successful operation"
					}
				}
			}
		},
		"/Packages/CreateWithTemplate": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from template",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "dssCreatePackageFromTemplate",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string"
				},{
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"default": {
						"description": "successful operation"
					}
				}
			}
		},
		"/Packages/Document": {
			"get": {
				"tags": ["Packages"],
				"summary": "Retrieves a Document from Package",
				"description": "This API enables applications to retrieve the signed documents. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "downloadIndividualDocument",
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string"
				},{
					"name": "packageId",
					"in": "query",
					"description": "Package ID",
					"required": true,
					"type": "string"
				}, {
					"name": "orgName",
					"in": "query",
					"description": "ORG Name",
					"required": true,
					"type": "string"
				}, {
					"name": "documentId",
					"in": "query",
					"description": "Document ID",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Base 64  Document"
					},
					"500": {
						"description": "Internal server error due to encoding the data"
					}
				}
			}
		},
		"/Packages/Retrieve": {
			"get": {
				"tags": ["Packages"],
				"summary": "Retrieves Package Documents",
				"description": "This API enables applications to retrieve the signed documents. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "downloadDocuments",
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string"
				},{
					"name": "packageId",
					"in": "query",
					"description": "Package ID",
					"required": true,
					"type": "string"
				}, {
					"name": "orgName",
					"in": "query",
					"description": "Package Org Name",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Base 64 Zipped Document"
					},
					"500": {
						"description": "Internal server error due to encoding the data"
					}
				}
			}
		}
	},
	"definitions": {
		"PackageId": {
			"type": "string",
			"properties": {
				"ID": {
					"type": "integer",
					"description": "Generated unique identifier for te package."
				},
				"PackageName": {
					"type": "string",
					"description": "Package name."
				}
			}
		},
		"Error": {
			"type": "object",
			"properties": {
				"message": {
					"type": "string"
				},
				"required_fields": {
					"type": "string"
				},
				"example": {
					"type": "string"
				}
			}
		}
	}
}
