{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "GSA DSS API"
	},
	"basePath": "/sandbox/operations/signature",
	"tags": [{
		"name": "Packages"
	}, {
		"name": "PackagesCreateWithDocumentLayout"
	}, {
		"name": "PackagesCreateWithDocumentLayoutMultipart"
	}, {
		"name": "PackagesCreate"
	}, {
		"name": "PackagesCreateWithTemplate"
	}, {
		"name": "PackagesCreateMultiPart"
	}],
	"host": "api.gsa.gov",
	"schemes": ["https"],
	"paths": {
		"/Packages/Create": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS Create Package",
				"description": "This API enables applications to initiate the digital signing process. The API is provisioned as a RESTful service and uses JSON as the data interchange format. You can use the example JSON from here as input body payload: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/console/createPackageExample.json \n \n \n To find more info about the various errors and messages in DSS API's, read: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/createPackageErrors.html",
				"operationId": "dssUniversalConnector",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"format": "string",
					"default": "DEMO_KEY"
				}, {
					"name": "body",
					"in": "body",
					"description": "JSON Data",
					"required": true,
					"type": "string",
					"format": "string"
				}]
			}
		},
		"/Packages/CreateWithDocumentLayout": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from layout",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. You can use the example JSON from here as input body payload: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/console/createPackageDocLayoutExample.json \n \n \n To find more info about the various errors and messages in DSS API's, read: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/createPackageErrors.html",
				"operationId": "dssCreatePackageFromDocLayout",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"in": "body",
					"name": "body",
					"description": "JSON Data",
					"required": true,
					"type": "string"
				}]
			}
		},
		"/Packages/CreateWithTemplate": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from template",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. You can use the example JSON from here as input body payload: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/console/createPackageTemplateExample.json \n \n \n To find more info about the various errors and messages in DSS API's, read: \n https://gsa.github.io/DSSAPIDocumentation/api-docs/createPackageErrors.html",
				"operationId": "dssCreatePackageFromTemplate",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"type": "string",
					"description": "JSON Data"

				}]
			}
		},
		"/Packages/Document": {
			"get": {
				"tags": ["Packages"],
				"summary": "Retrieves a Document from Package",
				"description": "This API enables applications to retrieve the signed documents. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "downloadIndividualDocument",
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"name": "packageId",
					"in": "query",
					"description": "Package ID",
					"required": true,
					"type": "string",
					"default": "qkl04u3arT0tM4-IoS3HVOPfGjY%3D"

				}, {
					"name": "orgName",
					"in": "query",
					"description": "ORG Name",
					"required": true,
					"type": "string",
					"default": "RETA"

				}, {
					"name": "documentId",
					"in": "query",
					"description": "Document ID",
					"required": true,
					"type": "string",
					"default": "efeb4f89104d409df6580400747fc8a4cf9ef420887566a2"

				}],
				"responses": {
					"200": {
						"description": "Base 64  Document"
					},
					"500": {
						"description": "Internal server error due to encoding the data"
					}
				}
			}
		},
		"/Packages/Retrieve": {
			"get": {
				"tags": ["Packages"],
				"summary": "Retrieves Package Documents",
				"description": "This API enables applications to retrieve the signed documents. The API is provisioned as a RESTful service and uses JSON as the data interchange format.",
				"operationId": "downloadDocuments",
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key",
					"required": true,
					"type": "string",
					"default": "DEMO_KEY"

				}, {
					"name": "packageId",
					"in": "query",
					"description": "Package ID",
					"required": true,
					"type": "string",
					"default": "qkl04u3arT0tM4-IoS3HVOPfGjY%3D"

				}, {
					"name": "orgName",
					"in": "query",
					"description": "Package Org Name",
					"required": true,
					"type": "string",
					"default": "RETA"

				}],
				"responses": {
					"200": {
						"description": "Base 64 Zipped Document"
					},
					"500": {
						"description": "Internal server error due to encoding the data"
					}
				}
			}
		},
		"/Packages/CreateMultiPart": {
			"post": {
				"tags": ["Packages"],
				"summary": "Multipart Upload Package creation",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. Document and attachment files can be attached separately and sent as another key value pair.",
				"operationId": "dssUniversalConnectorMultiPart",
				"consumes": ["multipart/form-data"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string"
				}, {
					"in": "formData",
					"name": "documents",
					"description": "documents multipart attachment",
					"required": true,
					"schema": {
						"type": "file",
						"items": {
							"$ref": "#/definitions/FormDataContentDisposition"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"description": "documents multipart attachment filedata",
					"required": true,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataContentDisposition"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"description": "Json Body",
					"required": true,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"default": {
						"description": "successful operation"
					}
				}
			}
		},
		"/Packages/CreateWithDocumentLayoutMultipart": {
			"post": {
				"tags": ["Packages"],
				"summary": "DSS create Package from layout multipart file transfer",
				"description": "This API enables applications to initiate the digital signature signing ceremony. The API is provisioned as a RESTful service and uses JSON as the data interchange format. Document and attachment  files can be attached separately and sent as another key value pair.",
				"operationId": "dssCreatePackageFromDocLayoutMultipart",
				"consumes": ["multipart/form-data"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "api_key",
					"in": "query",
					"description": "API key for api.gsa.gov",
					"required": true,
					"type": "string"
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataBodyPart"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataContentDisposition"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataBodyPart"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/FormDataContentDisposition"
						}
					}
				}, {
					"in": "body",
					"name": "body",
					"required": false,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"default": {
						"description": "successful operation"
					}
				}
			}
		},
	"definitions": {
		"PackageId": {
			"type": "string",
			"properties": {
				"ID": {
					"type": "integer",
					"description": "Generated unique identifier for te package."
				},
				"PackageName": {
					"type": "string",
					"description": "Package name."
				}
			}
		},
		"Error": {
			"type": "object",
			"properties": {
				"message": {
					"type": "string"
				},
				"required_fields": {
					"type": "string"
				},
				"example": {
					"type": "string"
				}
			}
		}
	}
}
